:root {
  /* Color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-blue: #6666ff;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
/* 공통적으로 모든 tag에 적용할 속성 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Andada Pro", serif;
  /* 마우스가 텍스트에 올라가도 변하지 않게 설정 */
  cursor: default;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  padding: 50px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */

#navbar {
  display: flex;
  background-color: var(--color-blue);
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.navbar__logo > * {
  display: inline-block;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
}

.navbar__logo > a {
  margin-left: 9px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu {
  cursor: pointer;
}

.navbar__menu__item {
  margin: 0, 4px;
  padding: 16px;
  font-size: var(--font-small);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-blue);
}

/* Home */
#home {
  /* padding: 120px 40px 40px; */
  text-align: center;
  background-color: var(--color-pink);
}

.home__container {
  padding: 20px;
}

.home__text {
}

.home__profile > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.home__text > span.typing {
  display: inline-block;
  border-right: 1px solid var(--color-black);
}

.text__typing {
  display: none;
}

/* Profile */
#profile {
  padding: 0px;
  background-color: var(--color-white);
}

#profile {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
}

.picture--circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -100%;
}

/* About */

#about {
  text-align: center;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font: var(--font-small);
}

/* icon class element에 닿았을 때, i만 변하게 함 */
.major__icon:hover i {
  transform: scale(1.1) rotate(-30deg);
  transition: all var(--animation-duration) ease;
  color: var(--color-pink);
}

.career__container {
  display: flex;
  text-align: start;
  margin-bottom: 8px;
}

.career__img {
  width: 50px;
  height: 50px;
}

.career__detail {
  margin-left: 10px;
}

.career__detail > p {
  font-size: 16px;
  color: var(--color-grey);
}

/* Skills */
#skills {
  text-align: center;
  background-color: var(--color-pink);
}

.skillset {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.skillset__skills {
  background-color: var(--color-light-grey);
  display: flex;
  flex-basis: 65%;
}

.skillset__attributes {
  background-color: var(--color-dark-grey);
  flex-basis: 35%;
}

.skill__menu {
  background-color: var(--color-blue);
  margin: 0px;
  padding-left: 0px;
}

.skill__menu__item {
  padding: 15px;
  cursor: pointer;
}

.skill__menu__item.active {
  background-color: var(--color-yellow);
}

.skill__menu__item:hover {
  background-color: var(--color-yellow);
}

.skill__graph {
  width: 90%;
  margin: auto;
}

.skill {
  padding: 10px 30px;
}

.skill__bar {
  margin: 5px 0;
  background-color: var(--color-dark-grey);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar > .value {
  background-color: var(--color-yellow);
}

.skill.invisible {
  display: none;
}

.attributes__tool {
  background-color: var(--color-grey);
}

/* My Works */
#works {
  text-align: center;
}

.work__categories {
  margin: 20px 0;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  padding: 8px 48px;
  /* width: 210px; */
  background-color: transparent;
  font-size: var(--font-regular);
  position: relative;
}

.category__count {
  display: inline-block;
  position: absolute;
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: var(--color-white);
  top: -15px;
  right: 15px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 6px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  background-color: var(--color-light-white);
  width: 280px;
  height: 250px;
  margin: 2px;
}

.project__image {
  width: 100%;
  height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  /* Align vertical */
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(-10px);
  line-height: 100%;
}

.project__description > * {
  color: var(--color-white);
}

.project__description > h3 {
  margin-bottom: 20px;
}

.project:hover .project__description {
  opacity: 0.8;
  background-color: var(--color-black);
  transform: translateY(0px);
}

/* Activity */
#activity {
  text-align: center;
  background-color: var(--color-yellow);
}

.activity__list {
  text-align: left;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 20px "trebuchet MS", "lucida sans";
  padding: 0;
  /* margin-bottom: 4em; */
}

.activity__list > li {
  background-color: var(--color-light-white);
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  *padding: 0.4em;
  margin: 1em 0;
  background: #fff;
  color: #444;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.activity__list > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  /* -moz-border-radius: 2em;
  -webkit-border-radius: 2em; */
  border-radius: 50%;
  color: #fff;
}

/* Contact */

#contact {
  text-align: center;
  background-color: var(--color-blue);
}

#contact * {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__email {
  font-size: var(--font-medium);
}
.contact__links {
  margin: 24px 0 6px 0;
}
.contact__links i {
  font-size: var(--font-large);
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
}
